h1 {
    color: red;
    font-size: 5em;
  }
 
  
li:first-child{
    color:blue
}

  ul:first-child{
    color:darkgreen
  }
 

  #idparagraph {

  }

  .paragraph {

font-style: oblique;
  }

  p{
    padding:0;
margin:1.5vh;
}