h1 {
    color: crimson;
    font-size: 2em;
  }
 
  .one:first-child{
    color:white
}

p {
    margin: 1.5vh; 
 }

 .body {
    background-image: url("saka,png");
 }

 a {
    font-style: "Lucida Console";
      }
      