h1 {
    color: crimson;
    font-size: 5em;
  }
 
  .one:first-child{
    color:white
}

p {
    margin: 1.5vh; 
 }

 .body {
    background-image: url("saka.png");
 }

 h1 {
    font-style: Helvetica;
      }