body {
    background-color: rgb(182, 230, 173);
  }
  
  h1 {
    color: rgb(16, 85, 41);
    margin-left: 20px;
  }
  ul{
    color: rgb(14, 66, 23);
  }
  table, th, td{
    background-color: rgb(201, 237, 147);
    border: 1px solid;
  }
  p1{
    margin: 1.5vh;
  }
  img, h1{
    height: 100%;
    width: 100%;
  }