body {
    background-color: rgb(182, 230, 173);
    background-image: radial-gradient(circle, rgb(221, 184, 184) 1%, rgb(136, 0, 255), rgb(96, 23, 113) 60%);
    margin-right: 10px;
  }
 
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }

  h1,h2,h3 {
    color: rgb(150, 216, 227);
    margin-left: 10px;
  }
  ul{
    color: rgb(151, 215, 218);
  }
  table, th, td{
    background-color: rgb(147, 237, 213);
    border: 1px solid;
  }
  p{
    margin: 1.5vh;
    color:rgb(150, 216, 227);
  }
  img, h1{
    height: 110%;
    width: 100%;
  }
  a{
    color: rgb(147, 237, 213);
    margin: 10px;
  }