body {
   margin: 0;
   
}

h1 {
   margin: 0;
}

a {
   color: inherit;
}

.container {
   width: 70%;
   margin: 0 auto;
}

.first {
   background-color: white;
 
}
.second{

   background: white;
}
.third{
   background: white;
}