body {
    background-color: red; 
    background-image: linear-gradient(to right, blue , silver);
    margin: auto;
  }
section {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 10px;
}

article {
    margin: 10px;
}